.clearfix {
  *zoom: 1;
  display: block;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.quote {
  font-style: italic;
}
.quote:before {
  content: "«";
}
.quote:after {
  content: "»";
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: #eeeeee;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  color: #404041;
  line-height: 1.5;
}
@media (min-width: 450px) {
  body {
    font-size: 1em;
  }
}
.sheet {
  margin: 0 auto;
  max-width: 990px;
  padding: 0 12px;
}
@media (min-width: 450px) {
  .sheet {
    padding: 0 20px;
  }
}
@media (min-width: 700px) {
  .sheet {
    padding: 0 40px;
  }
}
a {
  text-decoration: none;
  color: #2c87ad;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}
a:hover {
  text-decoration: underline;
}
p {
  margin: 0 0 15px;
}
p:last-child {
  margin: 0;
}
h2 {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
}
ul {
  margin-bottom: 15px;
  padding-left: 25px;
}
ul li {
  margin-bottom: 5px;
}
.button {
  -webkit-appearance: none;
  display: inline-block;
  padding: 8px 15px;
  border: 0;
  background-color: #0099cc;
  border-radius: 0;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
  font-size: 1.2rem;
}
.button:hover {
  text-decoration: none;
  background-color: #00ace6;
}
.button:active {
  -webkit-transform: scale(0.98, 0.98);
  -moz-transform: scale(0.98, 0.98);
  -o-transform: scale(0.98, 0.98);
  -ms-transform: scale(0.98, 0.98);
  transform: scale(0.98, 0.98);
  background-color: #0086b3;
  -webkit-box-shadow: inset 0 2px 0 2px #007aa3;
  -moz-box-shadow: inset 0 2px 0 2px #007aa3;
  box-shadow: inset 0 2px 0 2px #007aa3;
  outline: none;
}
img {
  display: block;
  max-width: 100%;
}
strong {
  font-weight: bold;
}
.centered {
  text-align: center;
}
#header {
  height: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 30px;
}
#header .logo-wrapper {
  position: relative;
  height: 35%;
  z-index: 1;
}
#header .logo-wrapper .logo {
  display: inline-block;
  width: 300px;
  height: 100%;
  background: url(/img/logo.svg) no-repeat center;
}
#header .logo-wrapper .catchphrase {
  display: block;
  font-style: italic;
}
@media (min-width: 700px) {
  #header .logo-wrapper .catchphrase {
    font-size: 1.5rem;
  }
}
#header .bg {
  position: relative;
  height: 65%;
  margin-top: 30px;
}
#header .bg .bg-handle {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  bottom: 5%;
  left: 50%;
  margin-left: -16px;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  -webkit-animation: bounce 700ms ease-in-out 3600s;
  -moz-animation: bounce 700ms ease-in-out 3600s;
  -o-animation: bounce 700ms ease-in-out 3600s;
  animation: bounce 700ms ease-in-out 3600s;
}
#header .bg .bg-handle:before {
  position: absolute;
  left: 0;
  content: "";
  border: 16px solid transparent;
  border-top-color: #ffffff;
}
#header .bg .bg-handle:hover {
  -webkit-animation: bounce 700ms ease-in-out 0;
  -moz-animation: bounce 700ms ease-in-out 0;
  -o-animation: bounce 700ms ease-in-out 0;
  animation: bounce 700ms ease-in-out 0;
}
#main {
  position: relative;
  z-index: 1;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  background: #f5f5f5;
  margin-top: -30px;
  padding-top: 25px;
  padding-bottom: 25px;
}
#footer {
  position: relative;
  z-index: 1;
  padding-top: 12px;
  padding-bottom: 20px;
  background-color: #0099cc;
  color: #ffffff;
}
#footer:before,
#footer:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 100%;
  left: 0;
  background-repeat: repeat-x;
  background-position: 0 bottom;
}
#footer:before {
  height: 40px;
  background-image: url(/img/footer-bg-before.svg);
  -webkit-animation: wave 1200s linear 0 infinite;
  -moz-animation: wave 1200s linear 0 infinite;
  -o-animation: wave 1200s linear 0 infinite;
  animation: wave 1200s linear 0 infinite;
}
#footer:after {
  height: 30px;
  background-image: url(/img/footer-bg.svg);
  -webkit-animation: wave 1200s linear 0 infinite reverse;
  -moz-animation: wave 1200s linear 0 infinite reverse;
  -o-animation: wave 1200s linear 0 infinite reverse;
  animation: wave 1200s linear 0 infinite reverse;
}
#footer h3 {
  margin-top: 0;
}
#footer a {
  display: block;
  color: #ffffff;
}
#footer .copyright {
  opacity: .8;
}
#footer .social {
  display: block;
  float: right;
  width: 48px;
  height: 48px;
  margin: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
}
@media (min-width: 700px) {
  #footer .social {
    width: 64px;
    height: 64px;
  }
}
#footer .social.twitter {
  background-image: url(/img/logo-twitter.svg);
}
#footer .social.github {
  background-image: url(/img/logo-github.svg);
}
article {
  padding: 15px 0;
  margin-bottom: 25px;
}
article p {
  text-align: justify;
}
.badge-select .columns {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-between;
  -moz-box-pack: justify;
  -webkit-justify-content: justify;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.badge-select .columns .column3 {
  width: 32%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.badge-select .columns .column3:first-child {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-between;
  -moz-box-pack: justify;
  -webkit-justify-content: justify;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.badge-select a {
  display: block;
  width: 100%;
  background-color: rgba(26, 26, 26, 0.1);
}
@media (min-width: 700px) {
  .badge-select a {
    margin-bottom: 10px;
    padding: 4px;
    border: 3px dashed transparent;
  }
  .badge-select a.small {
    padding: 1px 4px;
  }
}
.badge-select a:hover {
  background-color: rgba(26, 26, 26, 0.05);
  border-color: rgba(26, 26, 26, 0.2);
}
.badge-download .divider {
  font-weight: bold;
}
.partner-list {
  list-style: none;
  padding: 0;
}
.partner-list .list-item {
  display: block;
  float: left;
}
.partner-list .list-item-link {
  display: block;
  padding: 4px;
  background-color: rgba(26, 26, 26, 0.05);
}
.partner-list .list-item-link img {
  max-width: 200px;
  height: auto;
}
.meetup-list .list-item {
  margin-bottom: 15px;
}
.meetup-list .list-item-link h4 {
  display: inline;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes wave{ 0%{ background-position: 0 bottom; } 25%{ background-position: 10000px bottom; } 75%{ background-position: -10000px bottom; } 100%{ background-position: 0 bottom; }}
@-moz-keyframes wave{ 0%{ background-position: 0 bottom; } 25%{ background-position: 10000px bottom; } 75%{ background-position: -10000px bottom; } 100%{ background-position: 0 bottom; }}
@-o-keyframes wave{ 0%{ background-position: 0 bottom; } 25%{ background-position: 10000px bottom; } 75%{ background-position: -10000px bottom; } 100%{ background-position: 0 bottom; }}
@keyframes wave{ 0%{ background-position: 0 bottom; } 25%{ background-position: 10000px bottom; } 75%{ background-position: -10000px bottom; } 100%{ background-position: 0 bottom; };
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes bounce{ 0%{ -webkit-transform: translate(0, 0); } 50%{ -webkit-transform: translate(0, 50%); } 100%{ -webkit-transform: translate(0, 0); }}
@-moz-keyframes bounce{ 0%{ -moz-transform: translate(0, 0); } 50%{ -moz-transform: translate(0, 50%); } 100%{ -moz-transform: translate(0, 0); }}
@-o-keyframes bounce{ 0%{ -o-transform: translate(0, 0); } 50%{ -o-transform: translate(0, 50%); } 100%{ -o-transform: translate(0, 0); }}
@keyframes bounce{ 0%{-webkit-transform: translate(0, 0);-moz-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0); } 50%{-webkit-transform: translate(0, 50%);-moz-transform: translate(0, 50%);-ms-transform: translate(0, 50%);transform: translate(0, 50%); } 100%{-webkit-transform: translate(0, 0);-moz-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0); };
}
